
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knicks</title>
    <!-- Include the script.js file -->
    <script src="main.js" defer></script>
</head>
<body>
    <header>
        <h1>Knicks</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sports" id="sports-link">Sports</a></li>
            <li><a href="/knicks" id="knicks-link">Knicks</a></li>
        </ul>
    </nav>
    <main id="main-content">
        <p>I'm a fan of the New York Knicks!</p>
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/25/New_York_Knicks_logo.svg/1920px-New_York_Knicks_logo.svg.png" alt="Knicks Image">

    </main>
</body>
</html>
