
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
    <!-- Include the script.js file -->
    <script src="main.js" defer></script>
</head>
<body>
    <header>
        <h1>Sports</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sports" id="sports-link">Sports</a></li>
            <li><a href="/knicks" id="knicks-link">Knicks</a></li>
        </ul>
    </nav>
    <main id="main-content">
        <p>I love watching and playing competitive sports!</p>
        <img src="https://assets-global.website-files.com/617b224ba2374548fcc039ba/617b224ba237453ce1c0409b_hpfulq-1234-1024x512.jpg" alt=" Sports image" >
    </main>
</body>
</html>
